.c-card {
  background: #3C2B1C;
  color: white;
  height: auto;
  @include breakpoint( tablet ) {
    display: flex;
    margin-bottom: 2rem;
  }
}

.humberger-photo {
  width: 33.6rem;
  height: 21rem;
  @include breakpoint( tablet ) {
    height: 43rem;
    width: 100%;
    object-fit: cover;
  }
}

.sub-card {
  background: #3C2B1C;
  height: auto;
  @include breakpoint( tablet ) {
    padding: 3rem 0 0 3rem;
  }
}

.sub-card-menu {
  font-size: 2rem;
  padding: 0;
}

.sub-card-title {
  padding: 2rem 0 0 0;
  @include breakpoint ( tablet ) {
    padding-bottom: 1rem;
  }
}

.sub-card-cont {
  line-height: normal;
  padding: 0;
}