.c-card {
  background: #3C2B1C;
  color: white;
  height: auto;
}

.humberger-photo {
  width: 33.6rem;
  height: 21rem;
}

.sub-card {
  background: #3C2B1C;
  height: auto;
}

.sub-card-menu {
  font-size: 2rem;
  padding: 0;
}

.sub-card-title {
  padding: 2rem 0 0 0;
}

.sub-card-cont {
  line-height: normal;
  padding: 0;
}