.humberger-set {
  width: 100%;
}

.humberger-small {
  width: 26rem;
  height: 16rem;
  padding: 3rem 0;
}

.center {
  text-align: center;
}

.humberger-column {
  margin-top: 3rem;
}

.column {
  width: 14rem;
  height: 8rem;
  margin-right: 1rem;
}