body {
	overflow-x: hidden;
}
.p-gmenu--bt {
	position: absolute;
	top: 0;
	right: 0;
	color : #707070;
	@include breakpoint( pc ) {
		display: none;
	}
}
.p-gmenu {
	height: 60px;
	float: right;
	position: relative;
	@include breakpoint( tablet ) {
		height: 80px;
	}
	@include breakpoint( pc ) {
		height: 0;
	}
}
.list {
	transition: all 0s 0s ease;
	right: 100%;
	width         : 60vw;
	height        : 100vh;
	padding       : 70px 50px;
	position      : absolute;
	background-color: #F2EDE9; 
	display       : flex;
	flex-direction: column;
	align-items   : center;
	z-index       : 100;
	overflow-y    : auto;
	@include breakpoint( tablet ) {
		width: 30vw;
		padding-top: 250px;
	}
	@include breakpoint( pc ) {
		width         : inherit;
		height        : 100%;
		padding       : inherit;
		position      : static;
		background    : inherit;
		transition: inherit;
		background: #F2EDE9;
	}
	 li {
		margin-bottom: 20px;
		&:first-child {
			padding-top: 130px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		@include breakpoint( pc ) {
			margin-bottom: 5rem;
		}
	 }
	 .list {
	   	@include breakpoint( pc ) {
		  	height: 60px;
			  display: flex;
	  		align-items: center;
		  }
		  li {
		  	font-size: 1.4rem;
			   @include breakpoint( pc ) {
			    	margin-right: 20px;
			     	font-size   : 1.2rem;
			    }
		    	a {
     				@include breakpoint( pc ) {
		    			font-weight: normal;
			    		white-space: nowrap;
			    	}
		    	}
				}
    	}
	&.is-open {
			right: 0;
		}
		.c-arrow--top-l {
			&::before {
				display: none;
			}
		}
}

// 背景固定
.overflowhidden {
	overflow: hidden;
	position: relative;
}
.overflowhidden::before {
	content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
	background-color: #707070;
	z-index: 100;
}

// バツ印
.my-parts {
  display: none;
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;
	z-index: 100000;
}
.my-parts span::before,
.my-parts span::after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 84%;
	height: 16%;
	margin: -8% 0 0 -42%;
	background: #707070;
}
.my-parts span::before {
	transform: rotate(-45deg);
}
.my-parts span::after {
	transform: rotate(45deg);
}
// バツ印とメニューボタンの切替
.gmenu-open {
  display: inline-block;
}
.gmenu-close {
	display: none;
}
