.bg-hum {
  background-image: url(../image/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.bg-menu {
  background-image: url(../image/archive.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  opacity: 0.8;
}

.bg-single {
  background-image: url(../image/single.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
